@charset "utf-8";

.pageHeader {
  background-color: yellow;

  h1 {
    color: orange;
    &::after,
    &::before {
      content: "-";
    }
  }

  & > a {
    color: red;
  }

  li a {
    color: olive;
  }
}
