@charset "utf-8";
.wrap {
  background-color: #f2f2f2;
}
header {
  position: relative;
}
.header h1,
.header h2,
.header p {
  padding-top: 62px;
  padding-left: 166px;
}
header a {
  display: block;
}

.header a::before {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
}
.header span {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.header h2 {
  font-size: 88px;
}
.header img {
  position: absolute;
  top: -38px;
  left: 1180px;
}
